<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=/favicon.ico> <title>forum2</title>
  <link href=//39.108.174.110/static/forum/css/app.37356ec4.css rel=preload as=style>
  <link href=//39.108.174.110/static/forum/css/chunk-vendors.af67b8ba.css rel=preload as=style>
  <link href=//39.108.174.110/static/forum/js/app.8c584745.js rel=preload as=script>
  <link href=//39.108.174.110/static/forum/js/chunk-vendors.949dc20d.js rel=preload as=script>
  <link href=//39.108.174.110/static/forum/css/chunk-vendors.af67b8ba.css rel=stylesheet>
  <link href=//39.108.174.110/static/forum/css/app.37356ec4.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
</body>
<script src=//39.108.174.110/static/forum/js/chunk-vendors.949dc20d.js> </script> <script src=//39.108.174.110/static/forum/js/app.8c584745.js>
</script> </html>