<!DOCTYPE html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name=viewport content="width=device-width,initial-scale=1">
  <link rel=icon href=/favicon.ico> <title>forum2</title>
  <link href=//39.108.174.110/static/forum/app.17af0d90.css rel=preload as=style>
  <link href=//39.108.174.110/static/forum/app.5ce124f4.js rel=preload as=script>
  <link href=//39.108.174.110/static/forum/chunk-vendors.f6c35e7d.js rel=preload as=script>
  <link href=//39.108.174.110/static/forum/app.17af0d90.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script src=//39.108.174.110/static/forum/chunk-vendors.f6c35e7d.js> </script> <script src=//39.108.174.110/static/forum/app.5ce124f4.js>
  </script> </body> </html>