<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>后台管理系统</title>

  <link href="//39.108.1.35:8080/blog-admin/vendor.css" rel="stylesheet">
  <link href="//39.108.1.35:8080/blog-admin/app.css" rel="stylesheet">
  <!-- <link href="//localhost:8080/vendor.css" rel="stylesheet">
  <link href="//localhost:8080/app.css" rel="stylesheet"> -->
</head>

<body>
  <div id="app">
  </div>
  <script src="//39.108.1.35:8080/blog-admin/vendor.bundle.js"></script>
  <script src="//39.108.1.35:8080/blog-admin/app.bundle.js"></script>
  <!-- <script src="//localhost:8080/vendor.bundle.js"></script>
  <script src="//localhost:8080/app.bundle.js"></script> -->
</body>

</html>