<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <link href="static/blog_pc/vendor.css" rel="stylesheet">
  <link href="static/blog_pc/app.css" rel="stylesheet">
</head>

<body>
  <div id="app">
  </div>
  <script src="static/blog_pc/vendor.bundle.js"></script>
  <script src="static/blog_pc/app.bundle.js"></script>
</body>

</html>