<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  <%- include('./tpl/_style',{projectName:'blog-pc'}); %>
</head>

<body>
  <div id="app">
  </div>
  <%- include('./tpl/_script',{projectName:'blog-pc'}); %>
</body>

</html>